body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://i.ibb.co/kTJcpRZ/office.png) no-repeat center/cover;
}

.card
{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 30px;
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

