body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box 
{
    padding: 40px;
    border-radius: 12px;
    color: white;
    font-size: 22px;
    background: linear-gradient(270deg, #ff6b6b, #f06595, #22b8cf);
    background-size: 600% 600%;
    animation: animate 6s infinite alternate;
}

@keyframes animate {
    0% {background-position: 0%, 50%}
    100% { background-position: 100% 50%;}
}