.timeline
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot 
{
    width: 15px;
    height: 15px;
    background: royalblue;
    border-radius: 50%;
}

.content 
{
    background: #f3f3f3;
    padding: .7rem 1rem;
    border-radius: 10px;
}