body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f3f5;
}

.profile-card
{
    background: white;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3;
}
  
.profile-card img{
    border-radius: 50%;
    height: 500px;
    width: 200px;
}

.profile-card:hover
{
    transform: translateY(-10px);
}